.menu-icon{
    display: block;
    cursor: pointer;
    /*
    position: absolute;
    right: 3%;
    bottom: 50%;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    */
}
.linha-menu-top, .linha-menu-bottom{
    /*
    display: block;
    */
    width: 50px;
    height: 5px;
    background-color: #55659c86;
    margin: 10px 0;
}
.linha-menu-center{
    background-color: #55659c86;
    height: 5px;
    width: 60px;
    margin-top: 10px;
}
.menu-toggle{
    display: none;
}
/*  media query:
se a largura for até 768 faça:*/
@media (max-width: 768px) {
    header{
        /* medidas relativas:
        %   de 0 ao infinito
        %   vh = viewport altura
        %   vw = viewport largura*/
        display: flex;
    }
    main{
        width: 100%;
    }
    nav{
        display: none;
    }
    ul{
        right: 50px;
    }
    header nav a{
        position: relative;
        right: 5%;
    }
    .navbar-desktop{
        display: none;
        flex-direction: column;
        transition: teansform 0.3s ease-in-out;
        transform: translateY(-100%);
    }
    .menu-icon{
        display: block;
        cursor: pointer;
        position: absolute;
        right: 3%;
        bottom: 50%;
        width: 30px;
        height: 30px;
        border-radius: 5px;
    }
    .linha-menu-top, .linha-menu-bottom{
        display: block;
        width: 100%;
        height: 5px;
        background-color: #55659c86;
        margin: 10px 0;
    }
    .linha-menu-center{
        display: block;
        width: 100%;
        height: 5px;
        background-color: #55659c86;
        margin: 10px 0;
    }
    .modal{
        transform: translateY(-110%);
    }
    .menu-toggle:checked ~ .navbar-desktop{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: absolute;
        top: 68px;
        left: 0;
        background-color: #55659c86;
        transition: all 0.3s ease;
        transform: translateY(0);
    }
    .menu-toggle:checked ~ .menu-icon .linha-menu-top{
        transform: translateY(6px) rotate(48deg);
    }
    .menu-toggle:checked ~ .menu-icon .linha-menu-bottom{
        transform: translateY(-9px) rotate(-48deg);
    }
    .menu-toggle:checked ~ .menu-icon .linha-menu-center{
        display: none;
    }
    .menu-toggle:checked ~ .modal{
        transform: translateY(60%);
    }
}